<p>calculadora works!</p>
<p>datos</p>
<label for="Creq">Creq</label>
<input type="text" [(ngModel)]="ebick.Creq"> 
<label for="VnomSYS">VnomSYS</label>
<input type="text" [(ngModel)]="ebick.VnomSYS">
<label for="VminSYS">VminSYS</label>
<input type="text" [(ngModel)]="ebick.VminSYS"> 
<label for="VmaxSYS">VmaxSYS</label>
<input type="text" [(ngModel)]="ebick.VmaxSYS"> 
<label for="Pnom">Pnom</label>
<input type="text" [(ngModel)]="ebick.Pnom"> 
<button (click)="calculate()">Enviar</button>
<br>
<p>{{respuesta}}</p>
<a href="" (click)="logout()">Cerrar Sesión</a>